DB_NAME=postgresDb
DB_PASSWORD=password
DB_USER=user
DB_PORT=5432
DB_HOST=localhost

MAIL_HOST=smtp.hello.com
MAIL_PORT=587
MAIL_USERNAME=EmailOf@system.com
MAIL_PASSWORD=password
MAIL_FROM=other@mail.com